@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* ANIMATIONS */

.fade-in {
    animation: fadeIn ease .5s;
    -webkit-animation: fadeIn ease .5s;
    -moz-animation: fadeIn ease .5s;
    -o-animation: fadeIn ease .5s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.hideme{
    opacity: 0;
}

/* /ANIMATIONS */

/* INDEX */
#nav-opacity {
    background-color: rgba(200,200,200,0.1) !important;

}
.nav-link:hover {
    color: rgb(0,0,0);
}

#register {
    color: #f7d10a !important;
    border-color: #f7d10a !important;
}

#register:hover {
    background-color: #f7d10a !important;
    color: rgba(0,0,0,.5) !important;
}
body, html {
    height: 100%;
    font-family: 'Open Sans', sans-serif !important;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/header.jpg");

    /* Set a specific height */
    height: 60%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-size: 1.3em;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.container {
    padding: 20px 40px 40px;
    max-width: 70%;
    margin-top: 10%;
}

.container-image-left {
    display: inline-block;
    vertical-align: top;
    height: 400px;
    box-shadow: 0 20px 36px -28px rgba(0,0,0,0.75);
}

.container-image-right {
    display: inline-block;
    float: right;
    vertical-align: top;
    height: 400px;
    box-shadow: 0 20px 36px -28px rgba(0,0,0,0.75);
}

.container-text-left {
    display: inline-block;
    width: 46%;
}

.container-text-right {
    padding-left: 50px;
    display: inline-block;
    width: 46%;
}

.container-heading {
    font-size: 2em;
    padding-bottom: 20px;
}

.container-paragraph {
    font-size: 1.4em;
}

.contact-form {
    display: inline-block;
    float: right;
    width: 60%;
}
.coffee {
    display: inline-block;
    vertical-align: top;
    height: 400px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}


/* /INDEX */

/* PRODUCTS */
.card-deck {
    padding-top: 100px;
    padding-bottom: 35px;
    margin: 15px;
}

.card-title {
    font-size: 1.3em;
}

.hp {
    background-color: grey;
    border: 2px solid #f7d10a;
}

.harvesting-info{
    margin: 20px;
}

.harvesting-header {
    font-size: 2em;
    color: #f7d10a;
    padding-bottom: 20px;
}

.mushroom-type {
    font-size: 1.4em;
}

.harvesting-period {
    font-size: 1.2em;
    padding-bottom: 15px;
}

.harvesting {
    border-color: #f7d10a;
    padding-bottom: 15px;
}

/* /PRODUCTS */

/* PRODUCT DETAILS */

.pd-con {
    margin: 5%;
}

.pd-image {
    display: inline-block;
    vertical-align: top;
    height: 55vh;
    max-width: 50%;
    box-shadow: 0 20px 36px -28px rgba(0,0,0,0.75);
}

.pd-text {
    display: inline-block;
    width: 46%;
    margin-left: 40px;
}

.pd-title {
    font-size: 2em;
    padding-bottom: 5px;
}

.pd-subtitle {
    font-size: 1.4em;
    padding-bottom: 25px;
}

.pd-paragraph {
    font-size: 1.2em;
    padding-bottom: 20px;
}

.pd-price {
    font-size: 1.6em;
    padding-bottom: 30px;
}

.pd-form {
    display: inline-block;
    padding-bottom: 20px;
}

.unit {
    display: inline-block;
    padding-right: 50px;
}

/* /PRODUCT DETAILS */

/* BLOG */

.card {
    margin: 5%;
}

.blog-image-container {
    max-height: 25vh;
    overflow: hidden;
}

.blog-image {
    width: 100%;
}

/* /BLOG */

/* LOGIN */

#auth-nav {
    background-color: rgba(200,200,200,0.1) !important;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif !important;
}

/* /LOGIN */

/* SHOPPING CART */

.cart-wrapper{
    margin-top: 5%;
    padding-left: 35%;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .cart-wrapper{
        margin-top: 10%;
        padding-left: 8%;
    }
}

/* /SHOPPING CART */

/* DASHBOARD */

.orders-list {
    margin-top: 20vh;
}

#collapsible {
    display: none;
    overflow: hidden;
}

/* /DASHBOARD */


/* PAGE FOOTER*/

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 175px;    /* Footer height */
}

.page-footer {
    background-color: rgba(0,0,0,0.5) !important;
    color: white;
    margin-top: 50px;
    /*position: absolute;
    width: 100%;
    bottom: 0;
    height: 175px;*/
}


/* /PAGE FOOTER */

/* MORE PAGES */

.jumbotron {
    background-color: rgba(0,0,0,.5);
    width: 40%;
    color: white
}

.display-4 {
    font-size: 2em
}


/* /MORE PAGES */

@media only screen and (max-width: 600px) {

/* INDEX */
    .container-image-right {
        height: auto;
    }

    .container-image-left {
        height: auto;
    }

    .container-text-left {
        background: rgba(255,255,255,0.8);
        margin-top: -7vh;
        width: 100%;
        text-align: center;
    }

    .container-text-right {
        background: rgba(255,255,255,0.8);
        margin-top: -7vh;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .mobile-container {
        max-width: 100%;
    }

    .container-paragraph {
        font-size: 0.9em;
        text-align: justify;
    }

    .container-heading {
        font-size: 1.5em;
    }

    .coffee {
        display: none;
    }

    .contact-form {
        display: block;
        float: none;
        width: 100%;
    }

    .content-wrap {
         padding-bottom: 0;
    }

    .contact-heading {
        font-size: 1.5em;
    }
/* /INDEX */

/* BLOG */

    .jumbotron {
        width: 100%;
        font-size: 0.6em;
    }

    .mobile-jumbo{
        padding: 10vh .5rem;
    }

    .mobile-card {
        margin-left: 0;
        margin-right: 0;
    }

    .pd-image {
        height: auto;
        width: 100%;
        max-width: 100%;
    }

    .pd-text {
        text-align: center;
        width: 100%;
        margin-left: 0;
        background: rgba(250,250,250,0.9);
    }

    .pd-title {
        font-size: 1.7em;
    }

    .pd-subtitle {
        font-size: 1.3em;
    }

    .pd-paragraph {
        text-align: justify;
        font-size: 1em;
    }

/* /BLOG */

/* ADMIN */

    .py-12 {
        padding-left: 20px;
        padding-right: 20px;
    }

/* /ADMIN */
}
